body {
	background-color: #333333;
	color: #dddddd;
	white-space: nowrap;
}

body * {
	white-space: initial;
}

#templates {
	display: none;
}

.col {
	display: inline-block;
	vertical-align: top;
}

#map-col {
	width: 382px;
	text-align: center;
}

.party-col {
	width: 200px;
	border: 1px solid #666666;
}

.unit-col {
	width: 200px;
	border: 1px solid #666666;
}

.unit-option-button {
	font-size: 15px;
	position: absolute;
	top: 2px;
	right: 2px;
	border: 1px outset;
	width: 20px;
	padding: 0;
	background: inherit;
	color: inherit;
	cursor: pointer;
}

.unit-options {
	display: none;
	width: 100%;
	height: 20px;
}

.unit-options button {
	width: 100%;
}

.stat {
	width: 100%;
	height: 40px;
	cursor: pointer;
	position: relative;
	user-select: none;
}

.stat.disabled {
	cursor: not-allowed !important;
	color: #888888 !important;
}

.stat:nth-of-type(2n + 1) {
	background-color: #555555;
}

.stat:hover .value::after {
	content: attr(data-change);
	color: #00a000;
}

.name {
	text-align: center;
	font-weight: bold;
}

.value {
	display: inline-block;
	padding-left: 5px;
}

.condition {
	width: calc(100% - 2px);
	height: 20px;
	position: relative;
	user-select: none;
}

.condition.negative {
	border: 2px solid #ff000077;
}

.condition.positive {
	border: 2px solid #00ff0077;
}

.condition .name,
.condition .value {
    width: 47%;
    display: inline-block;
	text-align: center;
	padding: 0;
}

.cap-wrapper {
	float: right;
	display: block;
	padding-right: 5px;
}

.cap {
	display: inline;
}

.cap-increase {
	display: inline;
}

.description {
	display: none;
	border: 2px solid #555555;
	border-radius: 5px;
	background-color: #444444;
	z-index: 5;
	padding: 5px;
	pointer-events: none;
	position: absolute;
	top: 90%;
	left: 10%;
	max-width: 100%;
	color: #dddddd;
}

*:hover > .description {
	display: block;
}

.Health .current {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 50%;
	background-color: #ff000060;
}

.col-header {
	font-size: 20px;
	text-align: center;
	border-bottom: 1px solid #666666;
	background-color: #222222;
	font-weight: bold;
	position: relative;
}

.char-info {
	padding: 5px;
	height: 71px;
}

.char-info div {
	float: right;
}

#map-wrapper {
	padding: 5px;
	border: 2px solid #222222;
	display: inline-block;
}

#map {
	border-collapse: collapse;
	table-layout: fixed;
}

#map-title {
	font-size: 20px;
	text-align: center;
}

#map-reward {
	font-size: 14px;
	text-align: center;
}

#map-reward.complete {
	color: #008000;
}

#offline-stats {
	margin-top: 10px;
	min-width: 150px;
}

#offline-xp-button {
	display: none;
	margin-left: 10px;
	padding: 0 5px;
	line-height: 12px;
	vertical-align: middle;
	margin-top: -2px;
	position: relative;
}

.offline-xp-button-desc {
	top: 10px;
	left: 10px;
	max-width: 100px;
	width: 100px;
}

.increment-button {
	border-radius: 3px;
    background-color: #ccc;
    border-color: #aaa;
}

td {
	width: 1em;
	height: 1em;
	position: relative;
	line-height: 1em;
	padding: 0;
	font-size: inherit;
}

td::after {
	padding: 2px;
	display: none;
	position: absolute;
	top: 2px;
	left: 10px;
	width: max-content;
	background-color: #d4cca6;
	color: #25241d;
	border: 1px solid #d4b943;
	border-radius: 2px;
	z-index: 15;
	pointer-events: none;
	content: attr(data-content);
	font-size: 16px;
}

td:hover::after {
	display: block;
}

td.health-bar::before {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: attr(data-health);
	z-index: 50;
	pointer-events: none;
	background-color: #ff000090;
	content: " ";
}

td.highlight.health-bar::before {
	background-color: #ff0000;
}

td.tunnel {
	background-color: #aaaaaa;
}

td.wall {
	background-color: #611b1b;
}

td.pit {
	background-color: #000000;
}

td.stairs {
	background-color: #076307;
}

td.stairs:before {
	margin-left: 4px;
	content: ">";
}

td.not-visible {
	opacity: 0;
}

.unit-summary {
	width: calc(100% - 10px);
	height: 72px;
	cursor: pointer;
	position: relative;
	padding: 5px;
	user-select: none;
}

#enemy-creatures .unit-summary {
	height: 55px;
}

#party {
	text-align: initial;
}

#party .unit-summary {
	width: calc(50% - 11px);
	display: inline-block;
	border-top: 2px solid #666666;
}

#party .unit-summary:nth-of-type(2n) {
	border-left: 2px solid #666666;
}

.unit-summary.active {
	background-color: #00800033;
}

.unit-summary:not(:first-of-type) {
	border-top: 2px solid #666666;
}

.kill-button {
	position: absolute;
	top: 2px;
	right: 2px;
	border-radius: 50%;
	background-color: #80000050;
	width: 15px;
	height: 15px;
	line-height: 11px;
	text-align: center;
}

.character {
	position: absolute;
	top: 4px;
	left: -1px;
	width: 15px;
	height: 15px;
	line-height: 11px;
	text-align: center;
}

.spendable-xp,
.total-xp {
	float: right;
	text-align: right;
}

.death-xp {
	float: right;
	text-align: right;
	padding-right: 5px;
}

.party-assign {
	text-align: center;
	border: 2px outset #555555;
}

.party-assign:not(.disabled):hover {
	background-color: #99999933;
}

.party-assign.disabled {
	color: #99999966;
	cursor: not-allowed !important;
}

.summary-label {
	display: inline-block;
	width: calc(50% - 2px);
}

.options-col {
	width: 200px;
}

.options-col button {
	width: 100%;
	cursor: pointer;
}

#start-button {
	background-color: #44a444;
	border-color: #228222;
	color: #eeeeee;
}

#start-button {
	background-color: #44a444;
	border-color: #228222;
	color: #eeeeee;
}

#start-button.running {
	background: #006000;
	border-style: inset;
	cursor: progress;
}

#save-button {
	background-color: #44a444;
	border-color: #228222;
	color: #eeeeee;
	margin-top: 5px;
	position: relative;
}

#stop-button {
	background-color: #a44487;
	border-color: #822265;
	color: #eeeeee;
	margin-top: 5px;
}

#export-button,
#import-button,
#hard-reset-button {
	background-color: #2e6d2e;
	border-color: #195e19;
	color: #eeeeee;
	margin-top: 5px;
}

#hard-reset-button {
	float: right;
}

#discord-button {
	margin: 5px 0;
}

.option-button {
	background-color: #4444a4;
	border-color: #222282;
	color: #eeeeee;
	margin-top: 5px;
}

td.highlight {
	background-color: #0000a0;
}

.cap-breaker {
	position: relative;
}

.cap-breaker-desc {
	top: 15px;
	left: 15px;
	width: 136px;
}

#messages {
	width: calc(100% - 8px);
	max-height: 700px;
	overflow: hidden;
}

#messages:hover {
	overflow-y: scroll;
	scrollbar-color: #c9c9c9 #00000000;
	scrollbar-width: thin;
	width: 100%;
}

.message {
	width: 100%;
	border-bottom: 2px solid #111111;
	padding: 5px 0;
}

#challenges-wrapper {
	display: none;
}

.challenge {
    width: calc(100% - 10px);
    padding: 5px;
	user-select: none;
	cursor: pointer;
	position: relative;
}

.challenge:not(:first-of-type) {
    border-top: 1px solid #777777;
}

.lightbox {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #44444444;
}

#challenge-confirm-text,
#export-text {
	width: 400px;
	height: 200px;
	position: absolute;
	background-color: #222222;
	top: calc(50% - 100px);
	left: calc(50% - 200px);
	padding: 10px;
	border-radius: 10px;
}

#save-string {
	width: calc(100% - 2px);
	height: 80%;
}

.relative-wrapper {
	height: 100%;
	width: 100%;
	position: relative;
}

#challenge-confirm-buttons {
	position: absolute;
	bottom: 0;
	display: flex;
	width: 100%;
}

.confirm-button {
	flex: auto;
	height: 30px;
}

#challenge-confirm-accept {
	background-color: #008000;
	border-color: #006000;
}

#challenge-confirm-cancel {
	background-color: #800000;
	border-color: #600000;
}

#exit-challenge {
    width: 100%;
    height: 40px;
    background-color: #800000;
    border-color: #600000;
}

.challenge.running {
    background-color: #220055;
}

.char-info select {
	float: right;
	background-color: #ffffff40;
	border: 2px #ffffff30;
	color: white;
}

.char-info select option {
	background-color: #404040;
}

.role-wrapper {
	display: none;
}

.tutorial-dialogue {
	border: 2px solid #cccccc;
	background-color: #777777;
	padding: 10px;
	position: absolute;
}

#help-tabs {
	height: 100px;
}

#help-selector {
	width: 150px;
	height: calc(100% - 100px);
}

/* For setting health bars above units */

[data-health='1%']::before { width: 1%; }
[data-health='2%']::before { width: 2%; }
[data-health='3%']::before { width: 3%; }
[data-health='4%']::before { width: 4%; }
[data-health='5%']::before { width: 5%; }
[data-health='6%']::before { width: 6%; }
[data-health='7%']::before { width: 7%; }
[data-health='8%']::before { width: 8%; }
[data-health='9%']::before { width: 9%; }
[data-health='10%']::before { width: 10%; }
[data-health='11%']::before { width: 11%; }
[data-health='12%']::before { width: 12%; }
[data-health='13%']::before { width: 13%; }
[data-health='14%']::before { width: 14%; }
[data-health='15%']::before { width: 15%; }
[data-health='16%']::before { width: 16%; }
[data-health='17%']::before { width: 17%; }
[data-health='18%']::before { width: 18%; }
[data-health='19%']::before { width: 19%; }
[data-health='20%']::before { width: 20%; }
[data-health='21%']::before { width: 21%; }
[data-health='22%']::before { width: 22%; }
[data-health='23%']::before { width: 23%; }
[data-health='24%']::before { width: 24%; }
[data-health='25%']::before { width: 25%; }
[data-health='26%']::before { width: 26%; }
[data-health='27%']::before { width: 27%; }
[data-health='28%']::before { width: 28%; }
[data-health='29%']::before { width: 29%; }
[data-health='30%']::before { width: 30%; }
[data-health='31%']::before { width: 31%; }
[data-health='32%']::before { width: 32%; }
[data-health='33%']::before { width: 33%; }
[data-health='34%']::before { width: 34%; }
[data-health='35%']::before { width: 35%; }
[data-health='36%']::before { width: 36%; }
[data-health='37%']::before { width: 37%; }
[data-health='38%']::before { width: 38%; }
[data-health='39%']::before { width: 39%; }
[data-health='40%']::before { width: 40%; }
[data-health='41%']::before { width: 41%; }
[data-health='42%']::before { width: 42%; }
[data-health='43%']::before { width: 43%; }
[data-health='44%']::before { width: 44%; }
[data-health='45%']::before { width: 45%; }
[data-health='46%']::before { width: 46%; }
[data-health='47%']::before { width: 47%; }
[data-health='48%']::before { width: 48%; }
[data-health='49%']::before { width: 49%; }
[data-health='50%']::before { width: 50%; }
[data-health='51%']::before { width: 51%; }
[data-health='52%']::before { width: 52%; }
[data-health='53%']::before { width: 53%; }
[data-health='54%']::before { width: 54%; }
[data-health='55%']::before { width: 55%; }
[data-health='56%']::before { width: 56%; }
[data-health='57%']::before { width: 57%; }
[data-health='58%']::before { width: 58%; }
[data-health='59%']::before { width: 59%; }
[data-health='60%']::before { width: 60%; }
[data-health='61%']::before { width: 61%; }
[data-health='62%']::before { width: 62%; }
[data-health='63%']::before { width: 63%; }
[data-health='64%']::before { width: 64%; }
[data-health='65%']::before { width: 65%; }
[data-health='66%']::before { width: 66%; }
[data-health='67%']::before { width: 67%; }
[data-health='68%']::before { width: 68%; }
[data-health='69%']::before { width: 69%; }
[data-health='70%']::before { width: 70%; }
[data-health='71%']::before { width: 71%; }
[data-health='72%']::before { width: 72%; }
[data-health='73%']::before { width: 73%; }
[data-health='74%']::before { width: 74%; }
[data-health='75%']::before { width: 75%; }
[data-health='76%']::before { width: 76%; }
[data-health='77%']::before { width: 77%; }
[data-health='78%']::before { width: 78%; }
[data-health='79%']::before { width: 79%; }
[data-health='80%']::before { width: 80%; }
[data-health='81%']::before { width: 81%; }
[data-health='82%']::before { width: 82%; }
[data-health='83%']::before { width: 83%; }
[data-health='84%']::before { width: 84%; }
[data-health='85%']::before { width: 85%; }
[data-health='86%']::before { width: 86%; }
[data-health='87%']::before { width: 87%; }
[data-health='88%']::before { width: 88%; }
[data-health='89%']::before { width: 89%; }
[data-health='90%']::before { width: 90%; }
[data-health='91%']::before { width: 91%; }
[data-health='92%']::before { width: 92%; }
[data-health='93%']::before { width: 93%; }
[data-health='94%']::before { width: 94%; }
[data-health='95%']::before { width: 95%; }
[data-health='96%']::before { width: 96%; }
[data-health='97%']::before { width: 97%; }
[data-health='98%']::before { width: 98%; }
[data-health='99%']::before { width: 99%; }
[data-health='100%']::before { width: 100%; }
